configuration {
	terminal: "/usr/bin/alacritty";
	sort: true;
	combi-modi: "window,run,ssh,file-browser";
	hide-scrollbar: false;
	fake-transparency: true;
	scrollbar-width: 8;
	show-icons: true;
}
//@theme "gruvbox-dark-soft"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "/usr/share/rofi/themes/sidebar.rasi"
