/* A very basic sidebar menu.
 * By Kestrel Gregorich-Trevor */
* {
    // Basic Properties
    background-color: #1a1b26;
    text-color: #a9b1d6;
    show-icons: true;
    sort: true;
    sidebar-mode: true;
}
window {
    height: 50%;
    width: 50%;
    padding: 5;
    xoffset: 5;
    yoffset: 5;
}
entry {
    expand: true;
    width: 10%;
}
element {
    padding: 5;
}
element selected {
    xoffset: 5;
    background-color: #24283b;
}
/* vim:ft=css
